.main__side-card {
  max-width: 100%;
  display: grid;
  grid-template-rows: 200px 1fr;
}

.main__side-card:nth-of-type(2) {
  margin-top: 60px;
  align-items: flex-start;
  grid-template-rows: 1fr;
}

.main__side-card:nth-of-type(3) {
  margin-top: 40px;
  align-items: flex-start;
  grid-template-rows: 1fr;
}

.main__side-card:nth-of-type(4) {
  margin-top: 40px;
  align-items: flex-start;
  grid-template-rows: 1fr;
}
