.footer__title {
font-family: PT Sans;
font-style: normal;
font-weight: normal;
font-size: calc(14px + 0 * (100vw / 1280));
line-height: 18px;
color: #FFFFFF;
margin-left: 7px;
margin-right: 7px;
margin-top: 2px;
margin-bottom: 2px;
}

