.main__side-header {
align-self: flex-end;
margin: auto;
margin-left: 0;
margin-top: 20px;
margin-bottom: 8px;
font-family: PT Sans;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 23px;
color: #171717;
}
