.main__tag {
width: 100%;
font-family: PT Sans;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 18px;
color: #171717;
margin-left: 16px;
margin-right: 16px;
margin-top: 5px;
margin-bottom: 5px;
}