.popular {
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 300px);
    grid-template-rows: 1fr 200px 1fr;
    column-gap: 30px;
    justify-content: center;
    align-self: center;
    margin-bottom: 80px;
}