.main__box {
  max-width: 730px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  background: #ffffff;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  align-self: flex-end;

}
