.main__box-text {
font-family: PT Sans;
font-style: normal;
font-weight: normal;
font-size: calc(14px + 0 * (100vw / 1280));
line-height: 24px;
color: #666666;
margin: auto;
margin-left: 30px;
margin-bottom: 30px;
margin-right: 85px;
max-width: 600px;
}