.main__form {
width: 100%;
height: 50px;
background: #FFFFFF;
border: 1px solid #E5E5E5;
box-sizing: border-box;
border-radius: 3px;
margin-bottom: 10px;
margin-top: 12px;
padding-top: 15px;
padding-bottom: 15px;
padding-left: 15px;
}

.main__form:nth-of-type(2) {
    margin-top: 0;
}


input::-webkit-input-placeholder {
    font-family: PT Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    color: #AEB3BB;


}

input::-moz-placeholder  {
    font-family: PT Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    color: #AEB3BB;


}

input::-ms-input-placeholder {
    font-family: PT Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    color: #AEB3BB;
 

}

input::placeholder {
    font-family: PT Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    color: #AEB3BB;


}

